* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a{
	text-decoration: none;
}
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	margin: 0 auto;
}
header a {
	color: #FAFAFA;
}
.headline {
    width: 1024px;
    margin: 0 auto;
    
}
/*.headline2 {
	height: 100%;
	font-size: 16px;
	margin: 0 auto;
	
}*/
ul {
    color:#FAFAFA;
}
.logo1 {
	height: 70px;
	float: left;
}
.logo {
	height: 100%;
}
.nav-list {
	float: right;
}
.nav-list-item {
font-size: 16px;
line-height: 70px;
list-style: none;
padding: 0 30px ;
float: left;
color: #FAFAFA;
}
.main-visual {
	height: 650px;
	width: 100%;
	background-image:  url(img/mv.png);
	background-size: cover;
}

.main-visual-content1 {
	padding-top: 200px;
	padding-bottom: 10px;
	width:100%;
	text-align: center;
}
.main-visual-content1-text {
	color:#FAFAFA;
	font-size: 64px;
}

.main-visual-content2 {
	font-size: 20px;
	width:100%;
	text-align: center;

}
.main-visual-content2-text {
	color: #FAFAFA;
}
#portfolio1 {
	background-color: #ECEFF1;
}
.portfolio {
	background-color: #ECEFF1;
}
.portfolio-content1 {
	width:920px;
	margin: 0 auto;
}
.portfolio-border{
	width: 70px;
	height: 3px;
	margin: 0 auto;
	border-bottom: solid 3px #EC715F;
}
.portfolio-content1-text {
	padding-top:90px;
	padding-bottom:5px;
	margin: 0 auto;
	text-align: center;
	font-size:32px;
	color:#000000;
}
.portfolio-content2 {
	padding-top:30px;
	padding-bottom:30px;
	width:920px;
	text-align: center;
    margin: 0 auto;
}
.portfolio-content2-text {
	text-align: center;
	font-size:16px;
	color:#000000;
}
.portfolio-box-contents {
  width: 920px;
  padding-bottom: 90px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

.portfolio-box {
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px 0 0;
}
/*.portfolio-box:nth-child(odd) {
  margin: 0 10px 10px 0;
}*/
.portfolio-box:nth-child(-n+3){
	margin-top: 0;
}
.portfolio-box:nth-child(3n){
	margin-right: 0;
}
.portfolio-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.portfolio-box:nth-child(2) {
  background-image: url(img/websuku.png);
}
.portfolio-box:nth-child(3) {
  background-image: url(img/write.jpg);
}
.portfolio-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.portfolio-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.portfolio-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}
/*feature*/
#feature{
	width: 100%;
}
.feature-content {
	width:980px;
	margin:0 auto;
}
.feature1-content {
	padding-top: 90px;
	padding-bottom:  8px;
}
.feature1-text {
	margin: 0 auto;
	text-align: center;
	font-size:32px;
	color:#000000;
}
.feature-content2 {
	padding-top:30px;
	text-align: center;
	padding-bottom: 30px;
}
.feature2-text {
	font-size: 16px;
	color: #000000;
}
.social {
	width: 980px;
	margin: 0 auto;
}
.feature-box-content{

}
.feature-box{
	width:320px;
	padding-bottom: 90px;
	margin-right: 10px;
	float: left;
	text-align: center;
	font-size: 60px;

}
.feature-box:last-child{
	margin-right: 0;
}

.feature-box-title {
	padding: 10px;
	font-size: 20px;
	color: #000000;
	text-align: center;
}
.feature-box-text {
	font-size:16px;
	color:#000000;
	text-align: left;
	
}
/*profile*/
#profile {
	background-color: #ECEFF1;
}

.profile-box {
	width:1024px;
	margin: 0 auto;
	
}
.profile-title {
	width:100%;
	padding-bottom:8px;
	padding-top: 90px;
}
.profile-title-text {
	font-size: 32px;
	color: #000000;
	text-align: center;
}
.control {
	width: 1024px;
	margin:0 auto;
	padding-bottom: 90px;
}
.profile-image2 {
	width:50%;
	float:left;
}

.profile-image {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}

.profile-content {
	width: 50%;
	float: right;
}
.profile-content1:first-child {
	padding-bottom: 20px;
}
.profile-content2 {
	font-size: 20px;
	text-align: left;
	padding-bottom: 5px;

}
.profile-content3:first-child {
  padding-bottom: 20px;
}
.profile-content4 {
	font-size:16px;
  color: #000000;
  text-align:left;
}


/*contact*/
#contact {
	width: 100%;
}
.contact-box {
	width: 800px;
	margin:0 auto;
}
.contact-title {
	width: 100%;
}
.contact-title-text {
	text-align: center;
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	padding-bottom: 8px
}
.main-content {
	padding: 30px 0;
	width: 100%;
}
.main-text {
	text-align: center;
	font-size: 16px;
	color: #000000;
}
.contact-content2 {
width: 100%;
margin: 0 auto;
}
.contact-content1 {
width: 50%;
float: left;
margin: 0 auto;
padding-bottom: 90px;
}
.contact-content {
width: 130px;
margin: 0 auto;
padding-bottom: 20px;
}

.contact-content-title {
	margin: 20px 0 5px 0;
	font-size: 20px;
}
.contact-content-title:first-child{
	margin-top: 0;
}
.sns {
	width: 50%;
	float:right;
	margin: 0 auto;	
}
.ab {
	margin: 0 auto;
}
.sns-content {
	text-align:left;
}
.right-contact-content {
    width: 170px;
    margin: 0 auto;
}
.sns-text1 {
   padding-bottom:5px;

}
.sns-text {
	font-size:20px;
}
.text {
	font-size: 16px;
}
.link-text{
	text-decoration: underline;
	color: #212121;
}
.icon1 {
	width: 190px;
}
.icon {
	font-size:50px;
	float: left;
}
.icon:nth-child(1) {
	padding-right:20px;
}
.icon:nth-child(2) {
	padding-right:20px;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa-5x {
    font-size: 5em;
}
footer {
	background-color: #EC715F;
	width: 100%;
	height: 60px;
}
.copyright1 {
	text-align: center;
	font-size: 16px;
	color: #FAFAFA;
    line-height: 60px;
}

@media(max-width: 768px){
	.main-visual {
    background-image: url(img/code.png);
}
	.headline{
		width: 90%;
		margin: 0 auto;
	}
	.portfolio{
		width: 90%;
		margin: 0 auto;
	}
	.portfolio-content2-text {
		width: 90%;
		text-align: center;
	}

	.feature-content{
		width: 90%;
		margin: 0 auto;
	}
	#profile {
		padding: 0 5%;
	}
	.profile-box{
		width: 90%;
		margin: 0 auto;
	}
	.contact-box{
		width: 90%;
		margin: 0 auto;
	}
	.sp-none{
		display: none;
	}
	header{
		height: 50px;
	}

	.logo{
		float: none;
		height: 50px;
	}

	.menu-box{
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #FAFAFA;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.list-bar{
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;
	}

	.list-bar:first-child{
		margin-top: 10px;
	}

	.nav{
		float: none;
	}
	.nav-list{
		display: none;
		float: none;
		width: 100%;
		line-height: 50px;
		border-bottom: 1px solid gray;
		text-align: center;
		background-color: rgba(0,0,0,.9);
	}
	.nav-list:last-child{
		border: none;
	}
	#mv{
		background-image: url(img/code.png);
	}
    .main-visual-content1-text {
    font-size: 40px;
     }
    .main-visual-content2-text {
    font-size: 18px;
    }
    .portfolio-content2 {
    	width:  90%;
    }
   
	.portfolio-box-contents {
		width:300px;
	}
	.portfolio-box{
		float: none;
	}
	#feature{
		padding: 0 5%;
		background-size: cover;
		background-position: center;
	}
	.feature-box {
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.social{
		width: 100%;
		padding-bottom: 90px;
	}
	.feature-box{
		float: none;
		margin-top: 10px;
	}

	.feature-box:first-child{
		margin-top: 0;
	}
	.feature-box:last-child {
		margin: 0 auto;
		margin-bottom: 0;
	}
/*	.profile-box{
		padding: 0 5%;
	}

	.control{
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
    .profile-iamge2 {
    	float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
    }
    .profile-image {
    	margin: 0 auto;
    	float: none;

    }
    .profile-content {
    	float: none;
		width: 100%;
    }
    .profile-content2{
		margin-top: 20px;
		text-align: center;
	}
	.profile-content2:first-child{
		margin-top: 20px;
	}*/

#profile {
	background-color: #ECEFF1;
}

.profile-box {
	width:90%
	margin: 0 auto;
	
}
.profile-title {
	width:100%;
	padding-bottom:8px;
	padding-top: 90px;
}
.profile-title-text {
	font-size: 32px;
	color: #000000;
	text-align: center;
}
.control {
	width: 100%;
}
.profile-image2 {
	width:100%;
	float:none;
}
.profile-content {
	width: 100%;
	float: none;
}
.profile-content1{
	padding-top: 20px;
}
.profile-content2 {
	text-align: center;
}
.profile-content3:first-child{
	padding-bottom: 20px;

}
.profile-content3 {
	text-align: center;
}
.profile-content4 {
  text-align:center;
}

	#contact{
		padding: 0 5%;
	}

	.contact-content2{
		width: 100%;
		text-align: center;
	}
   .contact-content-title {
   	text-align: center;
   }
	.contact-content1{
		width: 100%;
		padding-bottom: 0px;
	}
	.contact-content:first-child {
		padding-bottom: 20px;
		} 

	.contact-content{
		padding-bottom:0;
	}
　　.contact-content:nth-child(2) {
padding-bottom: 0;
}
.link-text:first-child {
	padding-bottom: 20px;
}
.text:first-child {
	padding-bottom: 20px;
}
	.sns-text {
		text-align: center;
	}

	.sns{
		width: 100%;
		margin-top: 20px;
		padding-bottom: 90px;
	}

	.sns .fab {
		font-size: 50px;
		margin-right: 8px;
	}

}
